@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  --body-bg-color: hsl(233, 47%, 7%);
  --body-color: hsla(0, 0%, 100%, 0.75);
  --card-bg-color: hsl(244, 38%, 16%);
  --card-heading-accent-color: hsl(277, 64%, 61%);
  --card-heading-color: hsl(0, 0%, 100%);
  --card-stat-heading-color: hsla(0, 0%, 100%, 0.6);
  --attribution-a-color: hsl(228, 45%, 44%);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: inter;
  font-weight: 400;
  font-size: 15px;
  color: var(--body-color);
  background-color: var(--body-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  padding: 1em;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 22em;
  background-color: var(--card-bg-color);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

.card .header {
  border-radius: 5px 5px 0 0;
  position: relative;
  flex: 0 0 100%;
  background-color: var(--card-heading-accent-color);
}

.card img {
  width: 100%;
  opacity: 0.5;
  display: block;
  border-radius: inherit;
  content: url('../images/image-header-mobile.jpg');
}

.card .content {
  padding: 1em 1.8em;
  text-align: center;
}

.card .content > * {
  margin: 0.8em 0;
}

.card h1 {
  font-family: inter;
  font-size: 1.8em;
  font-weight: 700;
  color: var(--card-heading-color);
}

.card h1 strong {
  color: var(--card-heading-accent-color);
}

.card p {
  line-height: 1.6em;
}

.card .stat {
  text-transform: uppercase;
}

.card .stat-number {
  font-family: inter;
  font-size: 1.6em;
  font-weight: 700;
  color: var(--card-heading-color);
  margin-top: 1em;
}

.card .stat-heading {
  color: var(--card-stat-heading-color);
  font-size: 0.8em;
  letter-spacing: 0.1em;
  margin-top: 0.5em;
}

.attribution {
  flex: 0;
  padding: 1em;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--attribution-a-color);
}

@media screen and (min-width: 900px) {
  .card {
    flex-wrap: nowrap;
    max-width: 60em;
  }

  .card .header {
    flex-basis: 50%;
    order: 1;
    border-radius: 0 5px 5px 0;
  }

  .card img {
    content: url('../images/image-header-desktop.jpg');
  }

  .card .content {
    flex-basis: 50%;
    padding: 1em 2em;
    margin-right: 2em;
    text-align: left;
  }

  .stats {
    display: flex;
    justify-content: space-around;
  }
}
