:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 8px;
  height: 100vh;
  font-size: 15px;
}

.card {
  margin: auto;
  max-width: 21.8em;
  font-family: 'Lexend Deca', sans-serif;
  background-color: var(--very-light-gray);
}

section {
  padding: 3em 3em 4em 3em;
}

section:nth-of-type(1) {
  background-color: var(--bright-orange);
  border-radius: 8px 8px 0 0;
}

section:nth-of-type(2) {
  background-color: var(--dark-cyan);
}

section:nth-of-type(3) {
  background-color: var(--very-dark-cyan);
  border-radius: 0 0 8px 8px;
}

/* section icon */
.icon {
  display: inline-block;
  width: 4.4em;
  height: 4.4em;
}

section:nth-of-type(1) .icon {
  background: no-repeat center url('../images/icon-sedans.svg');
  background-size: contain;
}
section:nth-of-type(2) .icon {
  background: no-repeat center url('../images/icon-suvs.svg');
  background-size: contain;
}
section:nth-of-type(3) .icon {
  background: no-repeat center url('../images/icon-luxury.svg');
  background-size: contain;
}

/* section heading */
h1 {
  margin: 0.5em 0;
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.6em;
  color: var(--very-light-gray);
  text-transform: uppercase;
}

/* section paragraph */
p {
  margin: 2.5em 0;
  color: var(--transparent-white);
  line-height: 1.5em;
}

/* buttons */

.button {
  border: 0.14em solid var(--very-light-gray);
  background-color: var(--very-light-gray);
  padding: 0.8em 2em;
  border-radius: 2em;
  text-decoration: none;
}

section:nth-of-type(1) .button {
  color: var(--bright-orange);
}
section:nth-of-type(2) .button {
  color: var(--dark-cyan);
}
section:nth-of-type(3) .button {
  color: var(--very-dark-cyan);
}

section .button:hover {
  color: var(--very-light-gray);
  background: none;
}

.attribution {
  padding: 1em;
  font-size: 0.8em;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
  .card {
    display: flex;
    max-width: 1000px;
  }

  section:nth-of-type(1) {
    border-radius: 8px 0 0 8px;
  }

  section:nth-of-type(3) {
    border-radius: 0 8px 8px 0;
  }
}
