/* -- general styles -- */
:root {
	--profile-card-header-bg-color: hsl(185, 75%, 39%);
	--profile-card-content-bg-color: white;
	--profile-card-heading-font-color: hsl(229, 23%, 23%);
	--profile-card-regular-font-color: hsl(227, 10%, 46%);
	--profile-card-stats-rule-color: hsl(0, 0%, 59%);
	font-size: 10px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: var(--profile-card-header-bg-color);
	height: 100vh;
	margin: 8px;
}

.profile-card {
	border-radius: 12px;
	font-family: 'Kumbh Sans', sans-serif;
	color: var(--profile-card-regular-font-color);
	background-color: var(--profile-card-content-bg-color);
	overflow: hidden;
	margin: 0 auto;
	max-width: 35rem;
}

/* -- profile card header -- */
.profile-header {
	background: red; /* TODO: update to gradient */
	min-height: 15rem;
	position: relative;
	margin-bottom: 6rem;
}

.profile-header .profile-picture {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 50%);
}

/* -- profile picture -- */
.profile-picture {
	height: 10rem;
	width: 10rem;

	border: 5px solid white;
	border-radius: 50%;
	overflow: hidden;
}

.profile-picture img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.profile-card h1 {
	text-align: center;
}

/* -- profile stats --  */
.profile-stats {
	display: flex;
	justify-content: space-around;
	padding: 2rem 0;
	border-top: 1px solid var(--profile-card-stats-rule-color);
}

.profile-stats div {
	text-align: center;
}

.profile-stats span {
	font-size: 1.8rem;
	font-weight: 700;
	color: var(--profile-card-heading-font-color);
}

.profile-stats p {
	margin-top: 0.5rem;
	letter-spacing: 0.2rem;
}

footer {
	font-size: 11px;
	text-align: center;
}
footer a {
	color: hsl(228, 45%, 44%);
}
